rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if true;
    }
    
    match /message/{docID} {
    	allow read: if request.auth.uid != null;
      allow create: if canCreateMessage();
    }
    
    function canCreateMessage() {
    	let isSignedIn = request.auth.uid != null;
      let isOwner = request.auth.uid == request.resource.data.uid;
      
      let isNotBanned = exists(
      /databases/$(database)/docuemnts/banned/$(request.auth.uid)
      ) == false;
      
      return isSignedIn && isOwner && isNotBanned;
    }
    
    // Prevent user duplicates
    
    match /users/{document=**} {
    	allow read: if true;
      allow create: if isUniqueUserID();
      allow update, delete: if request.auth != null
    }
    
    function isUniqueUserID() {
    	return !exists(/databases/$(database)/documents/user/$(request.resource.data.userID));
    }
  }
}